<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>Baby Protect seva+ | Multicast</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="/assets/css/flexslider.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">Baby Protect</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="/"><i class="icon-dashboard icon-large"></i><br />Dashboard<br>&nbsp;</a>
                                    </li>
                                    <li >
                                        <a href="/managedb"><i class="icon-tasks icon-large"></i><br />Manage<br> Database</a>
                                    </li>
                                    
                                    <li class="current-page">
                                        <a href="/multicast"><i class="icon-group	  icon-large"></i><br />Multicast<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/unicast"><i class="icon-star  icon-large"></i><br />Unicast<br>&nbsp;</a>
                                    </li>
                                     
                                    
                          
                                    <li>
                                        <a href="/users/edit"><i class="icon-user  icon-large"></i><br />Profile<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/users/sign_out"><i class="icon-pencil  icon-large"></i><br />LOGOUT<br>&nbsp;</a>
                                   </li>
                              		
                                </ul>
                                
                               
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

<div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>Multicast |</h2>
                        <p>Create a new Mulicast</p>
                        <p class="pull-right" style="padding-right:30px">
                                 <br>Logged in as : <%= current_user.name %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

<div class="container" style="text-align:left">
<div class="row">
<div class="span12">
<%if @error_messages %><br>
	<div class="alert alert-danger"><b>Errors :</b><br>
	<%@error_messages.each do |key,val|%>
		 <%=val%>
	<%end%>
	</div>
<%end%>
<br>


<h4>Total people selected for multicast : <span class="label label-info"><%=@multicast.people_ids.count%> </span> </h4>
<br>
<%= form_for( @multicast,:as=>"multicast", :url => "/multicast/upload", :method=>:post,:html => { :multipart => true} ) do |f| %>

	<legend>Select Multicast type : </legend>
	<%= f.hidden_field :id %>
	<%= f.radio_button :sms_voice, 'voice'%> <span style="font-size:15px;">Voice</span>
    <%= f.radio_button :sms_voice, 'sms' %> <span style="font-size:15px;">SMS</span>
<br>
</div>
</div>
<div class="row">
	<div class="span5">
		<div id="voicediv">
		<legend>Upload Audio file</legend>
		  	<%= f.file_field :audio%>
		</div>
		<div id="smsdiv">
		<legend>Type SMS here</legend>
		<%= f.text_area :message ,:size => "30x10"%>
		</div>
	</div>

	<div class="span7">
		<legend>Schedule multicast here</legend>
		When do you want to send the multicast :<br><br>
		<div class="form-inline extra">
		<%= f.radio_button :when, 'im'%> Immediate<br><br>
    	<%= f.radio_button :when, 'lat' %> Schedule Time <%= f.datetime_select(:datetime,:order=>[:day,:month,:year],:minute_step => 5)%>
    	</div>
	</div>

</div> <!-- /row -->
<div class="row">
	<div class="span12"><HR>	
	<%= f.submit "Next" ,:class=>"btn btn-success" %>
	<% end %>
	</div>


</div> <!-- /row -->
</div>
<br>
<!-- /container -->
<!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="copyright span4">
                        <p>&copy; Copyright 2013 Baby Protect</a>.</p>
                    </div>
                    <div class="social span8">
                        <a class="facebook" href=""></a>
                       
                        <a class="twitter" href=""></a>
                       
                    </div>
                </div>
            </div>
        </footer>
  <!-- Javascript -->
        <script src="/assets/js/jquery-1.8.2.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script>
     	$(document).ready(function() 
		{	
			if($("#multicast_sms_voice_voice").attr('checked'))
			{
				$("#smsdiv").hide();
				$("#voicediv").show();
			}
			else
			{
				$("#smsdiv").show();
				$("#voicediv").hide();
			}
			
			$("#multicast_sms_voice_voice").click(function() 
			    {
			            $("#smsdiv").hide("slow");
			            $("#voicediv").show("slow");
			        
			    });
			$("#multicast_sms_voice_sms").click(function() 
			    {
			            $("#voicediv").hide("slow");
			            $("#smsdiv").show("slow");
			        
			    });
		});
     </script>
     <style>
     .extra select{
     	width:70px;
     }
     </style>
</body>
</html>